<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>987424949508-d7vuf5rlbonrei4f9qlbt9dka1jbk54q.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.987424949508-d7vuf5rlbonrei4f9qlbt9dka1jbk54q</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>987424949508-fcha67feg1vrujs4aulgkn2qg9mq2gdq.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAYpwyJY4zwTNF3VixdtT8JOTc6w2ZGfS0</string>
	<key>GCM_SENDER_ID</key>
	<string>987424949508</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.luxmi.sapid</string>
	<key>PROJECT_ID</key>
	<string>mybazaar-dc1dd</string>
	<key>STORAGE_BUCKET</key>
	<string>mybazaar-dc1dd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:987424949508:ios:58211b89262058e9687c51</string>
	<key>DATABASE_URL</key>
	<string>https://mybazaar-dc1dd.firebaseio.com</string>
</dict>
</plist>